/target
/logs
src/main/resources/findbugs/*
src/main/resources/checkstyle/*
/.settings
**/.settings/
/.mvn
**/.mvn/
.classpath
.project
*.iml
.idea
*.ipr
*.iws
*.versionsBackup
.DS_Store
node_modules
out/